* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Unbounded", serif;
}


html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}
.swiper-slide img{
    height: 500px;
}

ul,
li,
a {
    color: white !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28525, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-light .navbar-toggler {
    border: 1px solid red;
}

.navbar-light .navbar-toggler:focus {
    border: none !important;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
}

.carousel-caption {
    padding-bottom: 250px;
}

.w-100 {
    height: 100vh;
}

.a {
    text-decoration: none;
    background-color: blueviolet;
    padding: 10px 10px;
    border-radius: 5px;
    color: white;
}

/* media for responsive */
@media only screen and(max-width: 768px) {
    .carousel-caption {
        padding-top: 150px;
        padding-bottom: 180px;
    }
}

.carousel-caption h5 {
    font-size: 30px;
}

.img-fluid {
    width: 100%;
    height: 90%;
    border-radius: 14px;

}

.d-flex {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card1 {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 15px;
}

.img1 img {
    height: 300px;
    border-top-right-radius: 15px grey;
    border-top-left-radius: 15px grey;
    width: 100%;
}

.img2 img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid #fff;
    margin-top: -80px;
}

.card1:hover .img2 img {
    border-color: aqua;
    transition: 0.7s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-body1 {
    padding: 30px 0;
    text-align: center;
}

.social i {
    font-size: 30px;
    margin: 0 10px;
}